/****************************************************************************************************

Developed by DataView, LLC. All rights reserved. 

Licensed under GNU LESSER GENERAL PUBLIC LICENSE Version 3

Real Time Messenging Software for SQL Server


***************************************************************************************************/


CREATE PROCEDURE [dbo].[BlankActivationProc]
AS
BEGIN
    PRINT 'Blank Proc Running'
END


PRINT N'Creating message types'

GO
